body {
    background-image: url("Login.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.new-expense__controls {
    font-family: sans-serif;
    display: flex;
    gap: 1rem;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: .4s;
    left: 25%;
    position: relative;
    margin-top: 90px;

}

.new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
}

.new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    width: 10rem;
    max-width: 100%;
    margin-bottom: 25px;
    background-color: transparent;
    border-bottom: 1px solid #000000;
    text-align: center;
    outline: none;
}

.new-expense__actions {
    text-align: right;
}

#btn {
    font-weight: bold;
    color: white;
    height: 40px;
    width: 130px;
    border: 1px solid;
    font-size: 16px;
    border-radius: 20px;
    transition: .6s;
    background: rgb(182, 74, 74);
    border: none;
    cursor: pointer;
    position: relative;
    margin-top: 28px;
}

#btn:hover {
    background-color: black;
}

.TableContent {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    align-items: center;
    min-width: 400px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    box-shadow: 0 0 20px black;
    position: absolute;
    left: 40%;
    margin-top: 6rem;
}

.TableContent thead tr {
    background-color: rgb(182, 74, 74);
    color: black;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
}

.TableContent th,
.TableContent td {
    padding: 12px 15px;
}

.TableContent tbody tr {
    border-bottom: 1px solid rgb(82, 81, 81);
}

.TableContent tbody tr:nth-of-type(odd) {
    background-color: rgb(177, 177, 176);
}

.TableContent tbody tr:last-of-type {
    border-bottom: 1px solid rgb(182, 74, 74);
}

.TableContent tbody tr.active-row {
    color: white;
    font-weight: bold;
}