body {
    background-image: url("Login.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Century gothic;
    text-align: center;
    padding: 15px 25px;
    font-size: 60px;
    color: darkgrey;
}

.loginbox {
    width: 400px;
    height: 360px;
    color: #111111;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 20px;
    border-radius: 10px;
    box-shadow: 1px 10px 30px #000000;
}

.logo {
    width: 59%;
    height: 50%;
    position: absolute;
    top: -35%;
    left: 20%;
    border-radius: 3%;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="Username"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 225px;
    position: absolute;
    left: 25%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
    background-color: rgb(182, 74, 74);
    transition: .4s;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    color: rgb(8, 8, 8);
}

.loginbox a {
    text-decoration: none;
    font-size: 18px;
    line-height: 120px;
    color: rgb(255, 250, 250);
    position: absolute;
    left: 33%;
    font-weight: bold;
}

.loginbox a:hover {
    color: white;
}

.loginbox input[placeholder] {
    color: white;
}

#togglePassword {
    margin-left: 30px;
    cursor: pointer;
    position: fixed;
    left: 85%;
    bottom: 55%;
}

#id_password {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}