body {
    background-image: url("Login.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Century gothic;
    text-align: center;
    padding: 15px 25px;
    font-size: 60px;
    color: darkgrey;
}

.loginbox {
    width: 400px;
    height: 400px;
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 80px 20px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

.logo {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 20%;
    top: -12%;
    left: calc(50% - 60px);
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="Username"],
input[type="Password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 225px;
    position: absolute;
    left: 25%;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    background-color: white;
    transition: .4s;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    color: white;
}

.loginbox a {
    text-decoration: none;
    font-size: 18px;
    line-height: 120px;
    color: white;
    position: absolute;
    left: 35%;

}

.loginbox a:hover {
    color: white;
}

.loginbox input[placeholder] {
    color: white;
}

#togglePassword {
    margin-left: 30px;
    cursor: pointer;
    position: absolute;
    left: 85%;
    bottom: 59%;
}

#id_password {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}